.img-responsive {
    display: block;
    margin: 5% 0px 0px 0px;
    height: 80%;
    width: 80%;
    vertical-align: middle;
    position: relative;

}

.index {
    margin: 0px 0px 0px 0px;
    max-height: 80%;
    max-width: 80%;
    vertical-align: middle;
    display: inline-block;
}


.my-name {
    text-align: left;
    width: 70%;
}